$color-blue: hsl(228, 45%, 44%);
$color-white:hsl(0, 0%, 100%);
$color-LightGray:hsl(212, 45%, 89%);
$color-GrayishBlue:hsl(220, 15%, 55%);
$color-DarkBlue:hsl(218, 44%, 22%);

$bg-color: rgba(78,161,255,1) 100%;
$linear-gradient:linear-gradient(348deg, rgba(203,240,255,1) 0%, rgba(78,161,255,1) 100%);
$font:'Outfit', sans-serif;