@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import 'variable';
@import 'initial';

body{
    background: $bg-color;
    background: $linear-gradient;
}
a{
    color: $color-white;
    &:hover{
        color: $color-LightGray;
        transition:1s;
    }
}

main{
    background-color: $color-white;
}
//El diseño por defecto esta adaptado para pantallas 320px
.content{
    text-align: center;
    margin: 3em 2em;
    padding: 16px;
    font-size: 15px;
    border-radius: 25px;    
    &__info{
        align-items: center;
        &-code{
            width: 220px;
            height: auto;      
            border-radius: 25px;   
            transition: transform 1s;
            &:hover{
                transform: scale(1.05);
            }  
            @media(min-width:1440px) {
                width: 300px;
            }           
        }
        &-title{
            font-size: 20px;
            color: $color-DarkBlue;
            padding: 25px 5px 15px 5px;
            transition: transform 2s;
            &:hover{
                color: $color-blue;
                transform: scale(1.05);
            }
            @media(min-width:1440px) {
               font-size: 25px;
            }     
        }
        &-text{
            color: $color-GrayishBlue;
            padding: 15px 5px 30px 5px;
            transition: transform 2s;
            &:hover{
                color: $color-DarkBlue;
                transform: scale(1.05);
            }
            @media(min-width:1440px) {
                font-size: 18px;
             }    
        }
    }
    @media(min-width:375px) {
        margin: 7em 4em;
    }
    @media(min-width: 640px){
        margin: 7em 12.5em ;
    }
    @media(min-width: 750px) {
        margin: 7em 16.5em;
    }
    @media(min-width:1080px) {
        margin:7em 27.5em;
    }
    @media(min-width:1440px) {
        margin: 7em 36.5em;
    }
}
.attribution{
    background-color: $color-DarkBlue;
    color: $color-white;
    padding: 25px 0px;
    margin-top: 65%;
    position:relative;
    &__text{
        padding-bottom: 10px;
    }
}